<%- include('header')%>

<body>
    <main>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 py-5 my-5">
                    <div class="row">
                        <div class="col-2">
                            <% item.product_image.forEach((image, index) => { %>
                                <div class="col-12 my-1 thumbnail-image-container" data-index="<%= index + 1 %>">
                                    <img class="thumbnail-image" src="/<%= image %>" style="width: 100px; height: 100px;" alt="">
                                </div>
                            <% }) %>
                        </div>
                        <div class="col-10">
                            <div class="col-12 d-flex justify-content-center image" id="image">
                                <img class="selected-image img-fluid" src="/<%= item.product_image[0] %>"
                                    style="width: auto; height: 450px; -o-object-fit: cover; object-fit: cover; transform: scale(var(--zoom, 1)); transform-origin: var(--x) var(--y); transition: transform 0.3s ease;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-5 my-5">
                    <p class="fw-bold fs-3"><%= item.product_name %></p>
                    <p class="text-secondary small"><%= item.description %></p>
                    <p class="text-secondary ">Model: <%= item.product_name %></p>
                    <p class="text-secondary ">Brand: <%= brand.brand %></p>
                    <p class="text-secondary">Actual Price: <span class="fw-bold text-dark"><del>₹<%= item.price %></del></span></p>
                    <p class="text-secondary">Offer Price: <span class="fw-bold text-success">₹<%= item.price %></span></p>
                    <p class="text-secondary "> Stock: <%= item.stock %></p>
                    <p class="text-secondary "> Status: 
                        <% if (item.stock > 0) { %>
                            <span class="text-success fw-bold">Product available</span>
                        <% } else { %>
                            <span class="text-danger fw-bold">Currently Unavailable</span>
                        <% } %>
                    </p> 
                    <br>
                    <% if (typeof message !== 'undefined') { %>
                        <p class="text-danger mb-2">
                         <%- message %>
                        </p> 
                     <% } %>
                    <br>

                    
                    

                    
                    <div>
                        <% if (item.stock > 0) { %>
                            <a href="/user/addToCart/<%- item._id %>" class="btn btn-outline-dark me-3">Add to Cart</a>
                        <% } else { %>
                            <a href="#" class="btn btn-outline-dark me-3" onclick="showWarning()">Add to Cart</a>
                            <script>
                                function showWarning() {
                                    toastr.options = {
                                        positionClass: 'toast-top-right',
                                    };
                                    toastr.warning('This item is currently unavailable.', 'Unavailable');
                                }
                            </script>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer')%>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function addToCart(productId) {
            $.ajax({
                url: "/user/addToCart/" + productId,
                method: 'get',
                success: function (response) {
                    if (response.AddSuccess) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/user/cart';
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: response.message
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while processing your request. Please try again later.'
                    });
                }
            });
        }
    </script>
    
    
    
<script>
    function showWarning(msg) {
        toastr.options = {
            positionClass: 'toast-top-right',
        };
        toastr.warning(msg, 'Unavailable');
    }
</script>

    <script>
        $(document).ready(function () {
            $(".thumbnail-image-container").click(function () {
                var newImageSrc = $(this).find("img").attr("src");
                $(".selected-image").attr("src", newImageSrc);
            });
        });
    </script>
    <script>
        document.querySelectorAll('.image').forEach(element =>{
            let x,y, width, height;
            element.onmouseenter = () =>{
                const size = element.getBoundingClientRect();
                x = size.x;
                y = size.y;
                width = size.width;
                height = size.height;
            };
            element.onmousemove = e =>{
                const horizontal = (e.clientX - x)/width*100;
                const vertical = (e.clientY - y)/height*100
                element.style.setProperty('--x', horizontal + '%');
                element.style.setProperty('--y', vertical + '%');
            }
        })
    </script>
    <script>
        function addToCart(productId) {
            $.ajax({
                url: "/user/addToCart/" + productId,
                method: 'get',
                success: function (Response) {
                    if (Response.success) {
                        alert('Item added to cart...!!!');
                    } else {
                        alert('Stock not available at the moment.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr, status, error);
                }
            });
        }
    </script>



</body>
