<%- include('header')%>
<main>
  <div class="container p-5 ">
    <div class="row ">
  <!-- Carousel -->
<div id="demo" class="carousel slide " data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="apple-baner.jpg" alt="Los Angeles" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="apple2.jpg" alt="Chicago" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

  
    </div>
   </div>
  </div>
 </div>

 <!-- first section -->

 <div class="border-bottom  p-1">
  <div class="ms-3 mt-5 mb-2 ">
    <a style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 16px; color: #DB4444;"><i class="fa-solid fa-square fa-spin fa-spin-reverse mx-2" style="color: #e63a0f;"></i>Today’s</a>
  </div>

  <div class="ms-3">
    <a  style="font-family: 'Inter', sans-serif; font-weight: 600; font-size: 36px; color: #000000;">Flagship Phone</a>
  </div>


  <div class="container">
    <ul class="cards">
      <% useflagship.forEach(data => { %>
        <li class="card">
          <div class="product-card">
            <div class="card-image">
              <img src="/<%=data.product_image[0]%>" class="card-img-top rounded-2 custom-image">
            </div>
            <div class="card-content">
              <h3 class="card-title"></h3><%= data.product_name %>
              <p>₹<%= data.price %><del> ₹89,999</del></p>
            </div>
            <div class="card-link-wrapper">
              <a href="/user/product/Details/<%- data._id %>" class="card-link">View Details</a>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/user/allproduct" method="post">
      <button type="submit" class="btn btn-danger mt-3 btn-block gradient-custom-4 text-white">View All Product</button>
    </form>
  </div>
  
</div>


<!-- second section -->
<div class="border-bottom p-1">
  <div class="ms-3 mt-5 mb-2 ">
    <a style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 16px; color: #DB4444;"><i class="fa-solid fa-square fa-spin fa-spin-reverse mx-2" style="color: #e63a0f;"></i>Categories</a>
  </div>

  <div class="ms-3">
    <a  style="font-family: 'Inter', sans-serif; font-weight: 600; font-size: 36px; color: #000000;">Browse By Brands</a>
  </div>

  <div class="row my-5 ">
    <div class="col  d-flex justify-content-around flex-wrap">
      <% useBrand.forEach(data => { %>
        <div class="card my-2 shadow-0 custom-card  mx-auto shadow p-3 mb-5 bg-white">
          <a href="#" class="">
            <img src="/<%=data.image %>" class="card-img-top rounded-2 custom-image">
          </a>
          <div class="card-body p-0 pt-2 custom-button">
            <button class="btn btn " style="color: white; padding-bottom:10px;"><%=data.brand%></button>
          </div>
        </div>
     
        <% }) %>
    </div>
  



    

<!-- section 3 -->

<div class="border-bottom  p-1">
  <div class="ms-3 mt-5 mb-2 ">
    <a style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 16px; color: #DB4444;"><i class="fa-solid fa-square fa-spin fa-spin-reverse mx-2" style="color: #e63a0f;"></i>Today’s</a>
  </div>

  <div class="ms-3">
    <a  style="font-family: 'Inter', sans-serif; font-weight: 600; font-size: 36px; color: #000000;">Flagship Killers</a>
  </div>


  <div class="container">
    <ul class="cards">
      <% useflagshipkiller.forEach(data => { %>
        <li class="card">
          <div class="product-card">
            <div class="card-image">
              <img src="/<%=data.product_image[0]%>" class="card-img-top rounded-2 custom-image">
            </div>
            <div class="card-content">
              <h3 class="card-title"></h3><%= data.product_name %>
              <p>₹<%= data.price %><del> ₹89,999</del></p>
            </div>
            <div class="card-link-wrapper">
              <a href="/user/product/Details/<%- data._id %>" class="card-link">View Details</a>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/user/allproduct" method="post">
      <button type="submit" class="btn btn-danger mt-3 btn-block gradient-custom-4 text-white">View All Product</button>
    </form>
  </div>
  
</div>



<!-- section 4 baner -->
<div class="container p-5  border-bottom">
  <img src="samsung-baner.jpeg" class="img-fluid border-box " alt="...">
</div>

<!-- section 5 -->
<div class="border-bottom p-1 mb-5">
  <div class="ms-3 mt-5 mb-2">
    <a style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 16px; color: #DB4444;">
      <i class="fa-solid fa-square fa-spin fa-spin-reverse mx-2" style="color: #e63a0f;"></i>Our Products
    </a>
  </div>

  <div class="ms-3">
    <a style="font-family: 'Inter', sans-serif; font-weight: 600; font-size: 36px; color: #000000;">Explore Our Products</a>
  </div>

  <div class="scroll-buttons d-flex justify-content-sm-end me-5 mt-2">
    <button class="btn " id="scroll-left-button"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button class="btn " id="scroll-right-button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>

  <div class="container">
    <ul class="cards">
      <% 
        const allProducts = useProduct.concat(use2Product);
        allProducts.forEach(data => { 
      %>
        <li class="card">
          <div class="product-card">
            <div class="card-image">
              <img src="/<%=data.product_image[0]%>" class="card-img-top rounded-2 custom-image">
            </div>
            <div class="card-content">
              <h3 class="card-title"></h3><%= data.product_name %>
              <p>₹<%= data.price %><del> ₹89,999</del></p>
            </div>
            <div class="card-link-wrapper">
              <a href="/user/product/Details/<%- data._id %>" class="card-link">View Details</a>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
</div>



</main>
<%- include('footer')%>






 